<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layout/layout}">
  <head>
  		<title>Webapplication by zaprogramuj.pl</title>
  </head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<div th:replace="component/userRegisterForm/userRegisterForm :: userRegisterFormComponent"></div>
			</div>
		</div>
	</div>
</body>
</html>