<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>User Profile Component - Webapplication by zaprogramuj.pl</title>
</head>
<body>
	<div th:fragment="userProfileComponent">
		<div sec:authorize="isAnonymous()">
			User is anonymous
		</div>
		<div sec:authorize="isAuthenticated()">
				<span th:text ="${#authentication.getPrincipal()}"></span>
		</div>
	</div>
</body>
</html>