<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div th:fragment="footer">
		<div class="navbar navbar-default navbar-fixed-bottom">
			<p class="navbar-text pull-left" th:inline="text">
				[[#{footer.systemVersion}]]: <span th:text="${systemVersion}">SYSTEM_VERSION</span>
			</p>
		</div>
	</div>
	<div th:fragment="footer-scripts">
		<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
	</div>

</body>
</html>