<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout/header :: header"></head>
<body>
	<div th:replace="layout/header-navbar :: header-navbar"></div>
	<div layout:fragment="content">
		<h1>Content</h1>
	</div>
	<div th:replace="layout/footer :: footer"></div>
	<div th:replace="layout/footer :: footer-scripts"></div>
</body>
</html>